

{% extends "base.html" %}

{% load static %}

{% block content %}

<style> h1{
  font-family: times_new_roman;
  font-size: 4em;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {color: #FFFFFF;}
  to {color:  #fff755 ;}
}
</style>
<div class="row justify-content-center" style="background-color:#9b391e">
	<div align="center" class="row justify-content-center"><h1 class="row justify-content-center"><b>Bienvenido a la biblioteca municipal de Talca!</b></h1>
	<p></p>
	<img class="img-fluid" src="{% static 'app/media/bibli.jpg' %}" style="max-width: 850px; max-height: 1000px alt="dbmodel">
</div>
{% endblock %}
