
{% load static %}


{% block content %}
<body>
<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="row" colspan="3" class="text-center">PRESTAMO</th>
        </tr>
        <tr>
          <th scope="col">NOMBRE</th>
        </tr>
      </thead>
      <tbody>
          {% if request.session.prestamo.items %}
          {% for key, x in request.session.prestamo.items %}
          <tr>
            <td>{{ x.titulo }}</td>
          </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td colspan="3">
              <div class="alert alert-danger text-center"> Sin Productos </div>
          </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
    <hr>
    </div>
    <div class="row text-center">
        <div  class="col-6"><a href="{% url 'limpiar' %}" class="btn btn-danger">Limpiar</a></div>
        <div  class="col-6"><a href="/biblioteca/guardar/" class="btn btn-success">Guardar</a></div>
    </div>

{% endblock %}
{% block others_js %}



{% endblock %}
</body>
