{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar autor</span>
                        {% else %}
                        <span>Actualizar autor</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                {% else %}
                <form action="{{ autor.id }}" method="post">
                {% endif %}
                    {% csrf_token %}
                    <table width="100%">
                        {{ form.as_table }}
                    </table>
                    <p></p>
                    {% if isadd %}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    {% endif %}
                    <a href="../" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
