{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>

            </div>
        </div>
    </div>
</div>
<p></p>
request.session['num_visitas']: {{ num_visitas }}

{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    // https://canvasjs.com/jquery-charts/
    let datalibros = {{ datalibros|safe }};
    let options1 = {
        title: {
            text: "Mis Libros por año"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "spline", //change it to line, area, column, pie, etc
            lineColor:"green",
            lineDashType: "dash",
            dataPoints: datalibros,
            xValueFormatString:"Año ####",
            }
        ],
        axisX:{
            title:"Año",
            valueFormatString: "####",
            interval: 1,
        },
        axisY:{
            title:"# Libros",
        },
    };

    let datagenero = {{ datagenero|safe }};
    let options2 = {
        title: {
            text: "Mis Libros por genero"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column",
            dataPoints: datagenero
            }
        ],
        axisX:{
            title:"Genero",
        },
        axisY:{
            title:"# Libros",
            interval: 1,
        },
    };

    $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer2").CanvasJSChart(options2);
});
</script>
{% endblock %}
