{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar libro</span>
                        {% else %}
                        <span>Actualizar libro</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post" enctype="multipart/form-data">
                {% else %}
                <form action="{{ libro.id }}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    <table width="100%">
                        {{ form.as_table }}
                        {% if form.field.widget.input_type == 'file'  %}
                        <br/>
                        <img src="{{MEDIA_URL}}/{{form.value}}" width="200" alt="" srcset="">
                        {% endif %}

                    </table>
                    <p></p>
                    {% if isadd %}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    {% endif %}
                    <a href="../" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
