{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Libros</span>
                        <a class="btn btn-primary btn-sm float-end" href="add/" title="agregar">
                            <i class="bi bi-plus"></i> Agregar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Autor(es)</th>
                        <th>Género</th>
                        <th>Editorial</th>
                        <th>Ejemplares disponible</th>

                        <!--<th>Ejemplares</th>-->
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in libros %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.titulo }}</td>
                            {% if x.imagen.url == None %}

                            {% endif %}
                          <!--  <td>{{x.imagen}}</td>-->
                            {% if x.imagen %}
                              <td><img src="{{x.imagen.url}}" height="100"></td>
                            {% elif x.imagen == False %}
                              <td> {{x.imagen}}</td>
                            {% endif %}


                            <td>
                              {% for autor in x.autores.all %}
                                  {{ autor }}
                                  <p></p>
                              {% endfor %}
                            </td>
                          <!--  <td>{{ x.autores }}</td>-->
                            <td>{{ x.genero }}</td>
                            <td>{{ x.editorial }}</td>
                            {% for y in disponibles %}
                              {% if y.libro == x %}
                              {{ y.cantidad }}
                            {% endif %}
                            {% endfor %}
                            <td>
                            <li >
                                <a > Ejemplares disponibles: </a>
                                {% for y in ejem %}
                                  {% if y.libro == x %}
                                  <ul>
                                    {% for z in y.ejemplares %}
                                        <li >Ejemplar ID {{ z.id }} </li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %}
                                {% endfor %}
                            </li></td>


                            <td>
                                <a class="btn btn-warning btn-sm" href="update/{{ x.id }}" title="editar">
                                <i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger btn-sm" id="btn_delete" href="delete/{{ x.id }}" title="eliminar">
                                <i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block others_js %}

<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
      "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando start a end de total entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Menú",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
            //{"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 7, "orderable": false, "className": "dt-right", "width": "10%"},
        ],
        //para usar los botones
        responsive: "true",
        dom: 'Bfrtilp',
        buttons:[
        {
          extend:    'excelHtml5',
          text:      '<i class="fas fa-file-excel"></i> ',
          titleAttr: 'Exportar a CSV',
          className: 'btn btn-success',
          exportOptions: {
            columns: [0,1,3,4,5,6,7]
          }
        },
        {
          extend:    'pdfHtml5',
          text:      '<i class="fas fa-file-pdf"></i> ',
          titleAttr: 'Exportar a PDF',
          className: 'btn btn-danger',
          exportOptions: {
            columns: [0,1,3,4,5,6,7]
          }
        },
        ]
    });

});

</script>

{% endblock %}
