{% extends "base.html" %}

{% block content %}

<p></p>
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Catálogo de libros</span>
                    </div>
                </div>
            </div>
            <div class="card-body" align="center">
                <table id="table" class="table" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Autor(es)</th>
                        <th>Género</th>
                        <th>Editorial</th>
                        <th>Disponible</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in libros %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.titulo }}</td>
                            <td><img src="{{x.imagen.url}}" height="100"></td>
                            <td>
                              {% for autor in x.autores.all %}
                                  {{ autor }}
                                  <p></p>
                              {% endfor %}
                            </td>
                          <!--  <td>{{ x.autores }}</td>-->
                            <td>{{ x.genero }}</td>
                            <td>{{ x.editorial }}</td>
                            <td>
                            <li>
                                <a > Disponibles: </a>
                                {% for y in ejem %}
                                  {% if y.libro == x %}
                                    {% for z in y.ejemplares %}
                                      <!--en el href quizás se pueda seleccionar ese ejemplar para prestamo(?)-->
                                      <li>Ejemplar ID {{ z.id }}</li>
                                      {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              </td>
                            <td>
                              <!--href="{% url 'agregar' x.id %}"-->
                              <a name="" id="" class="btn btn-info" href="/biblioteca/lector/agregar/{{ x.id }}" role="button">Añadir </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pedido.html" %}
            </div>
        </div>
    </div>
</div>
</div>
<script>
  /**
  * Evento para añadir un producto al carrito de la compra

  */


</script>


{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
      "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando start a end de total entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Menú",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        "columnDefs": [
        {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
        {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 5, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
        //{"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
        {"targets": 7, "orderable": false, "className": "dt-right", "width": "10%"},
        ],
    });
});
</script>
{% endblock %}
