{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Historial de pedidos de {{ user }}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Fecha devolución</th>
                        <th>Fecha entrega</th>
                        <th>Límite entrega</th>
                        <th>Límite devolución</th>
                        <th>Ejemplar</th>
                        <th>Lector</th>
                        <th>Bibliotecario entrega</th>
                        <th>Bibliotecario recibe</th>
                        <!--<th>Ejemplares</th>-->

                    </thead>
                    <tbody>
                    {% for x in prestamos %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.Fecha_devolucion }}</td>
                            <td>{{ x.Fecha_entrega }}</td>
                            <td>{{ x.Limite_entrega }}</td>
                            <td>{{ x.Limite_devolucion}}</td>
                            <td>{{ x.ejemplar }}</td>
                            <td>{{ x.lector }}</td>
                            <td>{{ x.bibliotecario_entrega }}</td>
                            <td>{{ x.bibliotecario_recibe }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 7, "orderable": true, "className": "dt-center dt-body-left"},
        ],
    });
});
</script>

{% endblock %}
