<!DOCTYPE html>
<html>
<style>
  form{
    font-size: 20px;
    font-family: times_new_roman;
  }

</style>
<head>
	<title>Registro</title>

</head>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<main id="main">


<div id="body" class="row justify-content-center" style="font-size: 0.5em">
  <p></p>
     <div class="col-3">
       <h2>
         <form method="POST" action="">
           {% csrf_token %}
           {{ form | crispy }}
           <a href="{% url 'home' %}"> Home</a>
           <a href="{% url 'login' %}"> Ingresar</a>
           <div class="d-flex justify-content-center mt-3 login_container">
       <input class="btn btn-primary" type="submit" value="Registrarse">
     </div>
    </form>
   </div>
  </div>
</html>

<script>
          /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
  //We start indexing at one because CSRF_token is considered and input field
   */

  //Query All input fields
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='Usuario..';
  form_fields[2].placeholder='Nombre..';
  form_fields[3].placeholder='Apellido..';
  form_fields[4].placeholder='Email..';
  form_fields[5].placeholder='Ingresar contraseña...';
  form_fields[6].placeholder='Verificar contraseña...';


  for (var field in form_fields){
    form_fields[field].className += ' form-control'
  }
</script>

{% endblock %}
