{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Prestamo</span>
                        <a class="btn btn-primary btn-sm float-end" href="add/" title="agregar">
                            <i class="bi bi-plus"></i> Agregar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Fecha devolución</th>
                        <th>Fecha entrega</th>
                        <th>Límite entrega</th>
                        <th>Límite devolución</th>
                        <th>Ejemplar</th>
                        <th>Lector</th>
                        <th>Bibliotecario entrega</th>
                        <th>Bibliotecario recibe</th>
                        <!--<th>Ejemplares</th>-->
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in prestamos %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.Fecha_devolucion }}</td>
                            <td>{{ x.Fecha_entrega }}</td>
                            <td>{{ x.Limite_entrega }}</td>
                            <td>{{ x.Limite_devolucion}}</td>
                            <td>{{ x.ejemplar }}</td>
                            <td>{{ x.lector }}</td>
                            <td>{{ x.bibliotecario_entrega }}</td>
                            <td>{{ x.bibliotecario_recibe }}</td>
                            <td>
                              <!--<a class="btn btn-primary btn-sm float-end" href="entregado/{{ x.id }}" title="agregar">
                                  <i class="bi bi-plus"></i> ENTREGADO</a>-->
                                <a class="btn btn-warning btn-sm" href="entregado/{{ x.id }}" title="Entregado">
                                <i class="bi bi-clipboard-check"></i>Entregado</a>
                                <a class="btn btn-success btn-sm" href="recibido/{{ x.id }}" title="Recibido">
                                <i class="bi bi-calendar-check"></i>Recibido</a>
                                <a class="btn btn-danger btn-sm" id="btn_delete" href="delete/{{ x.id }}" title="eliminar">
                                <i class="bi bi-trash"></i></a>
                                <a class="btn btn-secondary btn-sm" id="btn_delete" href="update/{{ x.id }}" title="editar">
                                <i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 7, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 8, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 9, "orderable": false, "className": "dt-left", "width": "20%"},
        ],
        //para usar los botones
        responsive: "true",
        dom: 'Bfrtilp',
        buttons:[
        {
          extend:    'excelHtml5',
          text:      '<i class="fas fa-file-excel"></i> ',
          titleAttr: 'Exportar a CSV',
          className: 'btn btn-success',
          exportOptions: {
            columns: [0,1,2,3,4,5,6,7,8]
          }
        },
        {
          extend:    'pdfHtml5',
          text:      '<i class="fas fa-file-pdf"></i> ',
          titleAttr: 'Exportar a PDF',
          className: 'btn btn-danger',
          exportOptions: {
            columns: [0,1,2,3,4,5,6,7,8]
          }
        },
        ]
    });
});
</script>

{% endblock %}
